/**
 * @file index.css
 * @author swan
 */
.content-container {
    width: auto;
    color: #000;
    background-color: #F6F6F6;
    padding: 19.93rpx 0 39.86rpx;
}
.content-container .content-title,
.content-container .content-desp,
.content-container .detail-quote,
.content-container .detail-title,
.content-container .detail-p {
    margin-left: 30.8rpx;
    margin-right: 30.8rpx;
}
.content-loading {
    height: 100vh;
}
.content-container-ipx {
    padding-bottom: 60.39rpx;
}
.content-title {
    font-size: 43.48rpx;
    font-weight: 600;
    line-height: 65.22rpx;
}
.content-desp {
    height: 65.82rpx;
    margin-top: 43.48rpx;
    margin-right: 1px;
    display: flex;
    align-items: center;
}
.author-detail {
    order: 1;
    flex: 1 0 auto;
    display: flex;
    margin: 50;
}
.author-avator {
    width: 62.81rpx;
    height: 62.81rpx !important;
    border-radius: 50%;
    border: .6rpx solid rgba(0, 0, 0, .2);
}
.author-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 14.49rpx;
}
.author-name {
    font-size: 28.99rpx;
    line-height: 32rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.publish-date {
    font-size: 21.74rpx;
    line-height: 23.55rpx;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.follow-btn {
    order: 2;
    width: 103.26rpx;
    height: 50.72rpx;
    line-height: 50.72rpx !important;
    font-size: 23.55rpx !important;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
swan-button[loading="true"]:before {
    margin-left: 12px;
}
.content-detail {
    margin-top: 54.35rpx;
}
.detail-quote {
    margin: 26.27rpx 0;
}
.detail-img {
    margin: 50;
}
.detail-quote + :not(.detail-p),
.detail-img + :not(.detail-p) {
    margin-top: 36.23rpx;
}
.detail-p {
    font-size: 34.42rpx;
    letter-spacing: 1.71rpx;
    line-height: 54.35rpx;
}
.detail-p + .detail-p {
    margin-top: 45.29rpx;
}
.detail-title {
    font-size: 34.42rpx;
    line-height: 1;
    font-weight: 600;
    margin: 55.86rpx 0;
}
.detail-title text {
    padding-left: 10.87rpx;
}
.detail-title:before {
    content: " ";
    display: inline-block;
    height: 30.8rpx;
    width: 7.25rpx;
    background-color: #3C76FF;
    transform: translateY(1.81rpx);
}
:not(.detail-p) + .detail-title,
.detail-title + :not(.detail-p) {
    margin-top: 65.22rpx;
}
.detail-img image {
    width: 100%;
}
.top-view {
    transition: opacity .5s ease;
}
.top-view-show {
    opacity: .9;
}
.top-view-hide {
    opacity: 0;
}