/* miniprogram/pages/main/main.wxss */
.normalInput {
    height: .51rem;
    margin: 0 .17rem;
}

.date-section {
    margin-bottom: .1rem;
}
.section {
    height: .6rem;
    line-height: .6rem;
    font-size: .18rem;
    background: #fff;
    display: flex;
}
.section-active {
    background-color: #f2f2f2;
}
.section-title {
    color: #000;
    flex: 0 0 1rem;
}
picker {
    width: 100%;
    padding: 0 .17rem;
}
.chooseItem {
    margin-right: .2rem;
}

.disabled {
    color: #9e9a9a;
}

/* .card-area {
    position: relative;
    width: 3.8rem;
    height: 2.5rem;
}

.center-text {
    width: 100%;
    text-align: center;
    color: #38f;
    z-index: 200;
    font-size: .3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px 16px;
    transform: translate(-50%, -50%);
} */