.card-area {
    position: relative;
    background: #ffffff;
}


.center-text {
    width: 100%;
    text-align: center;
    color: #38f;
    z-index: 200;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 8px 16px;
    transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.radio-button {
    display: flex;
}

.swan-radio-wrapper .swan-radio-input {
    opacity: 0;
    position: fixed;
    width: 0;
}

swan-radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swan-radio-wrapper swan-label {
    display: inline-block;
    background-color: #F6F6F6;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin: auto 10px;
    letter-spacing: 2px;
}

.swan-radio-input-checked + swan-label {
    /* background-color: #a7f0ba !important; */
    background-image: linear-gradient(-20deg, #00cdac 0%, #8dda85 100%);
}

.mood-selector {
    height: 15%;
    display: flex;
    align-items: center;
}

.mood-selector radio-group {
    width: 100%;
    display: flex;
}

.mood-wrapper {
    width: 100% !important;
    margin: 0 !important;
}

textarea {
    padding: 10px;
    font-size: inherit;
    height: 60px;
}

.button-group {
    justify-content: center;
    width: 90%;
    align-items: center;
    transition: opacity ease 1s;
}

.button-group swan-button {
    display: inline-block;
    background-color: #f6f6f6;
    border: none !important;
    border-radius: 20px;
    padding: 5px 15px;
    margin: auto 10px;
    letter-spacing: 2px;
}
.button-group swan-button:after {
    border: none !important;
}

.question-wrapper {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mood-wrapper {
    height: 100%;
    transition: opacity ease 1s;
}

.svg {
    position: absolute;
    height: 40%;
    top: 30%;
    width: 70%;
    left: 15%;
    z-index: 1;
}

.show {
    position: relative;
    opacity: 100;
}

.hide {
    position: absolute;
    opacity: 0;
    height: 0;
}