/* pages/databaseGuide/databaseGuide.wxss */

@import "../../style/guide.css";

.guide .counter {
  margin-top: 50rpx;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}