/* miniprogram/pages/home/home.wxss */
/* search */
.search-container{
    width: 85%;
    margin-left: 5%;
    height: 70rpx;
    background: #ffffff;
    margin-top: 20rpx;
    margin-right: 40rpx;
}

.search-input{
    float: left;
    width:90%;
    height: 100%;
    background: rgb(255, 255, 255);
    color: rgb(82, 82, 82);
}

.search-icon-container{
    float: left;
    height: 70rpx;
    width: 10%;
    background: rgb(255, 255, 255);
}

.search-icon{
    margin-left: 20%;
    margin-top: 20%;
    height: 60%;
    width: 60%;
    opacity: 0.5;
}

/* sign */
.sign-container{
    /* background: rgb(255, 170, 170); */
    width:80%;
    margin-top: 30rpx;
    position: relative;
}

.sign-guide-text{
    display: block;
    font-size: 35rpx;
    color: #333333;
    font-weight: bold;
}

.sign-num-text{
    font-size: 90rpx;
    color: rgb(29, 214, 159);
}

.sign-num-day-text{
    font-size: 40rpx;
    color: #333333;
    margin-left: 10rpx;
}

.calendar{
    /* background: #c8ffc8; */
    position: absolute;
    bottom: 20rpx;
    right: 10rpx;
}

.calendar-text{
    font-weight: bold;
    font-size: 25rpx;
    color: rgb(148, 148, 148);
}

.calendar-icon{
    width: 30rpx;
    height: 30rpx;
    margin-left: 10rpx;
}



/* task */

.task-container{
    /* background: rgb(255, 190, 190); */
    width: 90%;
}

.task-guide-text{
    display: block;
    text-align: center;
    font-size: 27rpx;
    color: #bbc1bf;
}

.task-info{
    margin-top: 20rpx;
}

.task-info-trisection{
    /* background: rgb(165, 255, 165); */
    width: 33.3%;
    float: left;
    text-align: center;
}

.task-info-trisection-top-text{
    font-size: 55rpx;
    display: block;
    /* background: #7ac5d8; */
    height: 70rpx;
    line-height: 70rpx;
    color: #333333;
}

.task-info-trisection-bottom-text{
    font-size: 27rpx;
    color: #333333;
}

/* start */

.button-container{
    width:100%;
    margin-left: 6vw;
    margin-bottom: 6vw;
}

.start-button{
    margin: 50rpx;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8dda85 100%);
    width: 80%;
    color: white;
    text-align: center;
    height: 90rpx;
    line-height: 90rpx;
    font-size: 35rpx;
    border-radius: 1% / 15%;
}
